{% extends 'base.html.twig' %}
{% block title %}
    mobile guy
                    
                
            
        
    
{% endblock %}
{% block body %}
    <!--bandeau publicitaire-->
    <div class="grix my-4">
        <img src="http://lorempixel.com/1200/300/technics/PUB" alt="pub" class="responsive-media"></div>
    </div>

    <!-- new-->
    <h2 class="txt-center bg-cyan1 txt-prune">
        nos nouveautés
                            
                    
            
    </h2>
    <div class="grix xs3 md4 lg5">

        {% for product in products %}
            <div class="card light-1 shadow-1 bg-cyan2">
                <div class="card-header">
                    <h2>
                        {{ product.designation }}
                    </h2>
                    <h4>
                        {{ product.marque }}
                    </h4>
                </div>
                <div class="divider"></div>
                <div class="card-content">
                <p>{{product.description}}</p></div>
                <div class="card-footer">
                    <button class="btn circle blue press">
                       <a href="{{path('products_show', {'id':product.id})}}"> <i class="fas fa-search"></i></a>
                    </button>
                </div>

            </div>
        {% endfor %}
    </div>
    {% for role in app.user.roles %}
        <p>
            {{ role }}
        </p>
    {% endfor %}
{% endblock %}
