<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!


			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
		<link rel="stylesheet" href="/style/axentix.css">
		<link rel="stylesheet" href="/style/main.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		<script type="module" src="/js/axentix.js"></script>
		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>

	<body
		axentix class="bg-beige">
		<!-- header-->
		<header>
			<nav class="navbar neu-bordered  bg-prune txt-beige">

				<a href="/" class="navbar-logo bg-prune">
					<img src="/img/logoDark.webp" alt="LogoButton"/>
				</a>

				<div class="navbar-menu ml-auto">
					<a class="navbar-link " href="{{path('categories_show', {'id':1}) }}">
						smartphones

					</a>
					<a class="navbar-link " href="{{path('categories_show', {'id':2}) }}">
						accessoires

					</a>
					{% if app.user %}
						<a class="navbar-link" href="{{path('cart') }}">
							panier

						</a>
						{%if qttPanier %}
							<span id="qttPanier" class="btn red circle">{{qttPanier}}</span>
						{% endif %}
						<a class="navbar-link sidenav-trigger" data-target="sidenav">
							compte

						</a>
					{% else %}
						<a class="navbar-link " href="{{path('app_login') }}">
							se connecter
						</a>
						<a class="navbar-link " href="{{path('app_register') }}">
							s'enregister
						</a>
					{% endif %}
				</div>
			</nav>
		</header>

		<!-- sidenav vertical-->
		{% if app.user %}
			<aside class="sidenav shadow-1 bg-prune txt-beige" id="sidenav" data-ax="sidenav">
				<div class="sidenav-header">
					<button data-target="sidenav" class="sidenav-trigger">
						<i class="fas fa-times"></i>
					</button>
					<img class="sidenav-logo dropshadow-1" src="/img/logoDark.webp" alt="Logo"/>
				</div>
				<h3>{{app.user.prenom}}
					{{app.user.nom}}</h3>

				<p>{{app.user.email}}</p>
				<p>
					<a class="navbar-link " href="{{path('app_logout') }}">
						se deconnecter
					</a>
				</p>
			</aside>
		{% endif %}
		{% block body %}{% endblock %}
		<footer class="large-footer bg-prune txt-beige">

			<div class="footer fx-center">Copyright © 2021 - Mobile Guy</div>
		</footer>
	</body>
</html></body></html>
